*{
    margin: 0;
    padding: 0;
}
.container{
    height: 774px;
    background: #004980;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice__container{
    height: 459px;
    width: 480px;
    background-color: rgb(167, 249, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &_name{
        color: #004980;
        width: 208px;
        height: 96px;
    }
    &_levels{
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 60px;
    }
    &_button{
        background-color: #7AC100;
        width: 246px;
        height: 50px;
        border-radius: 12px;
        border: none;
        color: #FFFFFF;
        font-size: 24px;
        &:hover{
            transform: scale(1.05);
        }
    }
}
.level{
    width: 98px;
    height: 98px;
    background-color: #FFFF;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0080C1;
    font-size: 64px;
    &_1:hover{
        transform: scale(1.05);
    }
    &_2:hover{
        transform: scale(1.05);
    }
    &_3:hover{
        transform: scale(1.05);
    }
}